:root {
    --primary-color: black;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.history-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.adventure-gallery figure {
    text-align: center;
    flex: 1;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 8px;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border-radius: 6px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #004466;
    color: white;
}

footer .social {
    display: flex;
    gap: 1rem;
}

footer .social img {
    width: 50px;
    height: 50px;
}